/* src/index.css */
:root {
  --font-family-base: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-bg-dark: #242424;
  --color-bg-light: #ffffff;
  --color-text-dark: rgba(255, 255, 255, 0.87);
  --color-text-light: #213547;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
  }
}
